.login__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login__form .form-row {
  display: flex;
  flex-direction: column;
}

.login__form .form-row label {
  font-size: 15px;
  color: #737373;
}

.login__form .form-row input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.login__form .form-row .input-item {
  position: relative;
}

.login__form .form-row .input-item .btn--clear {
  display: none;

  position: absolute;
  top: 50%;
  right: 6px;
  transform: translate(0, -50%);

  width: 20px;
  height: 20px;
}

.login__form .form-row input[type="text"],
.login__form .form-row input[type="password"] {
  font-size: 19px;
  color: #fff;

  width: 100%;
  padding: 0.84em 40px 0.84em 0;

  border-bottom: 1px solid #2e2f3e;
}

.login__form .form-row input[type="text"]:focus,
.login__form .form-row input[type="password"]:focus {
  border-bottom: 1px solid var(--color-active);
}

.login__form .form-row input[type="text"].error,
.login__form .form-row input[type="password"].error {
  border-color: var(--color-error);

  animation-name: shakeX;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.login__form .form-row input[type="text"]::placeholder,
.login__form .form-row input[type="password"]::placeholder {
  color: #737373;
}

.login__form .form-row .checkbox-item {
  position: relative;

  display: block;
  padding-left: 2em;

  cursor: pointer;
  user-select: none;
}

.login__form .form-row .checkbox-item label {
  font-size: 16px;
  color: #fff;
}

.login__form .form-row .checkbox-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-item .checkbox-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  width: 1.2em;
  height: 1.2em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.checkbox-item input:checked ~ .checkbox-mark {
  background-color: #4587ff;
}

.checkbox-item input:checked ~ .checkbox-mark:after {
  display: block;
}

.checkbox-item .checkbox-mark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);

  width: 70%;
  height: 70%;
  background: url("/assets/images/common/icon/checkbox-mark.svg") no-repeat center center / contain;

  display: none;
}

.login__form .error-message {
  height: 1.4em;

  font-size: 14px;
  color: var(--color-error);

  margin-top: 5px;
}

.login-util {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;

  font-size: 14px;
  color: #737373;
}

.login-util__item + .login-util__item {
  position: relative;

  margin-left: 1em;
  padding-left: 1em;
}

.login-util__item + .login-util__item::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  display: block;
  width: 1px;
  height: 0.8em;
  background: #737373;
}

@keyframes shakeX {
  0%,
  to {
    transform: translateZ(0);
  }

  30%,
  90% {
    transform: translate3d(-0.1em, 0, 0);
  }

  60% {
    transform: translate3d(0.1em, 0, 0);
  }
}
