.noti-list {
  display: flex;
  flex-direction: column;
}

.noti-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  font-size: 14px;
  padding: 1.4em 20px;

  border-top: 1px solid rgba(255, 255, 255, 0.04);
}

.noti-item .top {
  display: flex;
  justify-content: space-between;
  gap: 1.4em;
}

.noti-item .title {
  position: relative;

  font-size: 1.14em;
  font-weight: 600;
}

.noti-item .content {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.noti-item .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.noti-item.non-read {
  background: rgba(255, 255, 255, 0.04);
}

.noti-item.non-read .title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);

  width: 0.34em;
  height: 0.34em;

  border-radius: 50%;
  background: var(--color-blue);
}
