/* 모달 기본 스타일 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal-dialog {
  font-size: 16px;

  width: 84%;
  max-width: 420px;

  background: var(--color-main-bg);
  border-radius: 8px;
}

.modal-content {
  width: 100%;
}

.modal-header {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  padding: 1.4em 1em 1.2em;
  text-align: center;

  font-size: 18px;
}

.modal-header .btn--close {
  width: 1em;
  height: 1em;
}

.modal-body {
  padding: 0.5em 2em 1.625em;
}

/* 비밀번호 변경 모달 스타일 */
.password-change-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.password-change-form .input-item {
  width: 100%;
  border: 1px solid #2e2f3e;
  border-radius: 8px;

  font-size: 16px;

  padding: 0.8em 1em;
}

.password-change-form .input-item input {
  width: 100%;
}

.password-change-form .form-actions {
  margin-top: 10px;
}
