/* 설정 옵션 모달 전용 스타일 */
/* 기본 모달 스타일은 modal.css에서 불러옴 */

#setting-option-modal legend {
  display: none;
}

#setting-option-modal .option-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#setting-option-modal .option-item {
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.2em;

  padding-left: 1.6em;
}

#setting-option-modal .option-list input[type="radio"] {
  width: 1em;
  height: 1em;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

#setting-option-modal .option-list input[type="radio"] + label {
  position: relative;
  cursor: pointer;

  width: 100%;
}

#setting-option-modal .option-list input[type="radio"] + label:before {
  content: "";

  position: absolute;
  top: 50%;
  left: -1.6em;
  transform: translate(0, -50%) scale(1);

  display: block;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #fff;

  width: 1.1em;
  height: 1.1em;

  text-align: center;
  vertical-align: top;

  transition: all 0.3s;
}

#setting-option-modal .option-list input[type="radio"]:checked + label:before {
  border-color: #3f8cff;
  background: #3f8cff;
  box-shadow: inset 0 0 0 2px #181928;
}

#setting-option-modal .option-list input[type="radio"]:active + label:before {
  transform: translate(0, -50%) scale(0.8);
}

#setting-option-modal .option-list input[type="radio"]:focus + label:before {
  outline: none;
}

#setting-option-modal .form-actions {
  margin-top: 20px;
}
